
.background {
    background-image: url(images/hello-kitty.jpg);
    color: paleturquoise;
    height: 50vh;
}
.main-header {
    color: cornflowerblue;
    text-align: center;
}
body {
    background-color:;
}